<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="./stylesheets/style.css">
</head>

<body>
    <h1>About</h1>

    <section class="bio"></section>
    <p>Serena Williams, (born September 26, 1981, Saginaw, Michigan, U.S.), American tennis player who revolutionized women’s
    tennis with her powerful style of play and who won more Grand Slam singles titles (23) than any other woman or man
    during the open era.
    <br>
    Along with her older sister Venus, Serena Williams was coached by her parents Oracene Price and Richard Williams.
    Turning professional in 1995, she won her first major singles title at the 1999 US Open. From the 2002 French Open to
    the 2003 Australian Open, she was dominant, winning all four major singles titles (each time over Venus in the final) to
    achieve a non-calendar year Grand Slam and the career Grand Slam, known as the 'Serena Slam'. The next few years saw her
    claim two more singles majors, but suffer from injury and decline in form. Beginning in 2007, however, she gradually
    returned to form despite continued injuries, retaking the world No. 1 singles ranking.</p>

    <script src="./scripts/script.js"></script>
</body>

</html>